.container__choose {
    width: 100%;
    height: 670.38px;
    display: flex;
    padding: 60px 0px 60px 0px;
    justify-content: center;
    background-color: var(--backgroundGrayWhite);
}

.choose {
    width: 100%;
    max-width: 1240px;
    height: 490px;
}

.description__choose {
    width: 100%;
    height: auto;
    margin: 0px 0px 60px;
}

.description__choose h1 {
    color: hsl(233, 26%, 24%);
    font-size: 37px;
    font-weight: 400;
    text-align: start;
    margin: 0px 0px 36px;
}

.description__choose p {
    color: var(--textGray);
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    max-width: 600px;
    line-height: 1.5;
}

.container__options {
    gap: 30px;
    width: 100%;
    height: 298.98px;
    display: flex;
    justify-content: flex-start;
}

.card__option {
    width: 265.5px;
    height: 100%;
    padding: 10px;
    border: none;
}

.card__option img {
    margin: 0px 0px 44px;
}

.card__option h2 {
    color: hsl(233, 26%, 24%);
    font-size: 24px;
    font-weight: 400;
    text-align: start;
    margin: 0px 0px 24px;
}

.card__option p {
    color: var(--textGray);
    font-size: 14px;
    font-weight: 300;
    text-align: start;
}