footer {
    width: 100%;
    background-color: var(--backgroundDark);
    padding: 70px 0;
}

.container__footer {
    width: 100%;
    max-width: var(--container);
    margin: 0 auto;
    padding-inline: 24px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.container__brand {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.container__networks {
    display: flex;
    gap: 14px;
}

.container__networks img {
    width: 24px;
    cursor: pointer;
    transition: var(--transition);
}

.container__networks img:hover {
    transform: translateY(-3px);
}

.container__links {
    display: flex;
    gap: 80px;
}

.link ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.link ul li {
    list-style: none;
}

.link ul li a {
    color: var(--textWhite);
    text-decoration: none;
    transition: var(--transition);
}

.link ul li a:hover {
    color: var(--textGreen);
}

.container__author {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container__author button {
    color: var(--textWhite);
    font-size: 15px;
    font-weight: 600;

    padding: 14px 32px;
    border-radius: 999px;

    cursor: pointer;
    margin-bottom: 32px;

    background: linear-gradient(
        to right,
        var(--textGreen),
        var(--textBlue)
    );
}

.container__author a {
    color: var(--textGray);
    text-decoration: none;
}

@media (max-width: 992px) {

    .container__footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .container__brand {
        align-items: center;
    }

    .container__links {
        gap: 50px;
    }

    .container__author {
        align-items: center;
    }
}

@media (max-width: 600px) {

    footer {
        padding: 60px 0;
    }

    .container__links {
        flex-direction: column;
        gap: 30px;
    }

    .container__author {
        width: 100%;
    }

    .container__author button {
        width: 100%;
        max-width: 260px;
    }
}

@media (max-width: 380px) {

    .container__networks {
        flex-wrap: wrap;
        justify-content: center;
    }

    .container__author a {
        font-size: .9rem;
    }
}