.welcome {
    width: 100%;
    background-color: var(--backgroundWhite);
    overflow: hidden;
}

.container__banking {
    width: 100%;
    max-width: var(--container);
    min-height: 760px;
    margin: 0 auto;
    padding-inline: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.description__banking {
    flex: 1;
    max-width: 520px;
}

.description__banking h1 {
    color: var(--textBluee);
    font-size: clamp(2.5rem, 5vw, 4rem);
    line-height: 1.1;
    font-weight: 300;
    margin-bottom: 28px;
}

.description__banking p {
    color: var(--textGray);
    font-size: clamp(1rem, 1.3vw, 1.15rem);
    line-height: 1.8;
    margin-bottom: 32px;
}

.description__banking button {
    color: var(--textWhite);
    font-size: 15px;
    font-weight: 600;
    padding: 14px 32px;
    border-radius: 999px;
    cursor: pointer;
    background: linear-gradient(
        to right,
        var(--textGreen),
        var(--textBlue)
    );
}

.img__banking {
    flex: 1;
    min-height: 760px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/src/assets/image/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;

    position: relative;
}

.img__banking img {
    width: min(100%, 760px);
    position: relative;
    right: -100px;
}

@media (max-width: 1200px) {

    .img__banking img {
        right: 0;
    }
}

@media (max-width: 992px) {

    .container__banking {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .description__banking {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img__banking {
        width: 100%;
        min-height: auto;
        background-position: center;
    }

    .img__banking img {
        width: min(100%, 600px);
    }
}

@media (max-width: 768px) {

    .container__banking {
        min-height: auto;
        gap: 10px;
    }

    .img__banking {
        background-image: url('/src/assets/image/bg-intro-mobile.svg');
        background-size: cover;
    }

    .description__banking h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {

    .container__banking {
        padding-inline: 18px;
    }

    .description__banking h1 {
        font-size: 2.1rem;
    }

    .description__banking p {
        font-size: .96rem;
    }

    .description__banking button {
        width: 100%;
        max-width: 250px;
    }
}

@media (max-width: 340px) {

    .description__banking h1 {
        font-size: 1.8rem;
    }
}