@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100..900&display=swap');

:root {
    --fontSize: 16px;
    --fontFamily: "Be Vietnam Pro", sans-serif;

    --textWhite: hsl(0, 0%, 98%);
    --textGreen: hsl(136, 64%, 51%);
    --textBluee: hsl(233, 26%, 24%);
    --textBlue: hsl(192, 69%, 51%);
    --textGray: hsl(233, 8%, 62%);

    --backgroundWhite: hsl(0, 100%, 100%);
    --backgroundGrayWhite: hsl(220, 16%, 96%);
    --backgroundDark: hsl(233, 26%, 24%);

    --container: 1240px;
    --transition: .3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fontFamily);
    overflow-x: hidden;
    background-color: var(--backgroundWhite);
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
    outline: none;
    font-family: var(--fontFamily);
}

.app {
    width: 100%;
    overflow: hidden;
}

.main {
    width: 100%;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: var(--container);
    margin: 0 auto;
    padding-inline: 24px;
}

.btn__primary {
    color: var(--textWhite);
    font-size: 15px;
    font-weight: 600;
    padding: 14px 32px;
    border-radius: 999px;
    cursor: pointer;
    transition: var(--transition);
    background: linear-gradient(
        to right,
        var(--textGreen),
        var(--textBlue)
    );
    box-shadow: 0 4px 14px rgba(49, 211, 92, 0.25);
}

.btn__primary:hover {
    opacity: .8;
    transform: translateY(-2px);
}

@media (max-width: 1024px) {
    .container {
        padding-inline: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        padding-inline: 18px;
    }
}

@media (max-width: 480px) {
    .container {
        padding-inline: 16px;
    }
}